<p><%= session[:email] %> is logged on.</p>
<a href="/logoff">logoff</a>

    <ul>
        <% Post.order(created_at: :asc).find_each do |post| %>
            <li><%= post.user.email + ": " + post.text %></li>
        <% end %>
    </ul>
    <form action="/post" method="post">
  <input type="text" name="post" size="80" maxlength="80">
  <input type="submit">
     <p><%= session[:message] %> </p>
  <% session[:message]=nil %>
</form>