<p><%= session[:email] %> is logged on.</p>
<a href="/logoff">logoff</a>

    <ul>
<!-- todo number 4.  You need to find each post.  For each post you need to look up the corresponding user.  Then
     you add a list item with the user email and the post text to this list.
-->
    </ul>
    <form action="/post" method="post">
  <input type="text" name="post" size="80" maxlength="80">
  <input type="submit">
     <p><%= session[:message] %> </p>
  <% session[:message]=nil %>
</form>